@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

:root {
  --color-bgBtn: #2a7ae4;
  --color-bgInput: #e5e5e5;
  --color-titleProductos: #464646;
  --color-bg-footer: #eaf2fd;
  --color-error: rgb(221, 81, 81);
  --color-enviado: rgb(57, 194, 57);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* Header style */

.buscador__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 115px;
}

.input__header {
  width: 393px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 16px;
  background-color: var(--color-bgInput);
  background-image: url(../img/lupa.png);
  background-position: calc(393px - 40px);
  background-repeat: no-repeat;
  outline: none;
}
.boton__login {
  width: 182px;
  height: 51px;
  border: 1px solid var(--color-bgBtn);
  background-color: #fff;
  font-size: 1rem;
}
.boton__login a {
  color: var(--color-bgBtn);
}

.lupa {
  display: none;
}

/* Main style */

main {
  background-color: var(--color-bgInput);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 152px;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
form h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-titleProductos);
}
form > input,
form textarea {
  width: 559px;
  height: 56px;
  padding-left: 12px;
}
.entrar {
  height: 62px;
  background-color: var(--color-bgBtn);
  border: none;
  color: #fff;
  font-size: 1rem;
}
#agregado {
  color: var(--color-error);
}

/* Footer style */

.contacto {
  display: flex;
  gap: 112px;
  width: 100%;
  height: 368px;
  background-color: var(--color-bg-footer);
  padding: 64px 115px;
}
.logo__contacto {
  width: 176px;
  height: 50px;
}
.links > li {
  padding-bottom: 24px;
  color: var(--color-titleProductos);
  font-size: 1rem;
  font-weight: 500;
  width: 176px;
}
.links li a {
  color: var(--color-titleProductos);
  font-size: 1rem;
  font-weight: 500;
}
.formulario form {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 240px;
}
.form {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 8px;
}
form > input {
  width: 560px;
  height: 56px;
  margin-bottom: 16px;
}
form > textarea {
  width: 560px;
  height: 82px;
  margin-bottom: 8px;
}
.boton__contacto {
  width: 144px;
  height: 51px;
  background-color: var(--color-bgBtn);
  border: none;
  color: #fff;
  font-size: 1rem;
}

.rodapie {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
}
.rodapie img {
  width: 40px;
}
.rodapie img:hover {
  transform: scale(0.95);
}

/* Responsive design */
/* Tablet max-width 768px */

@media (max-width: 768px) {
  .buscador__header {
    margin: 16px;
  }

  .input__header {
    width: 272px;
    background-position: calc(272px - 40px);
  }

  .entrar {
    width: 100%;
  }

  .contacto {
    gap: 16px;
    padding: 32px 16px;
    position: relative;
  }
  .logo__contacto {
    position: absolute;
    top: 32px;
    left: 16px;
  }

  .links {
    padding-top: 66px;
    padding-bottom: 32px;
    margin-right: 90px;
  }

  .formulario form {
    width: 434px;
    height: 229px;
  }
  form > input {
    width: 434px;
  }
  form > textarea {
    width: 434px;
  }

  .boton__contacto {
    width: 133px;
    height: 40px;
  }
}

/* Responsive design */
/* Mobile max-width 360px */

@media (max-width: 360px) {
  .buscador__header {
    justify-content: space-between;
  }
  .input__header {
    display: none;
  }
  .logo__header {
    width: 100px;
  }
  .boton__login {
    width: 166px;
    height: 40px;
  }
  .lupa {
    display: flex;
  }
  form h3 {
    font-size: 1.375rem;
  }

  .contacto {
    flex-direction: column;
    height: 556px;
    align-items: center;
    padding: 16px;
  }
  .logo__contacto {
    position: static;
  }

  .links {
    padding-top: 66px;
    padding: 0 16px;
    margin: 0;
    text-align: center;
  }
  .links > li {
    padding-bottom: 16px;
  }

  .formulario form {
    width: 328px;
    height: 229px;
    padding: 8px 0;
  }
  form > input,
  form > textarea {
    width: 331px;
  }

  .boton__contacto {
    width: 133px;
    height: 40px;
  }
}
