@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

:root {
  --color-bgBtn: #2a7ae4;
  --color-bgInput: #e5e5e5;
  --color-titleProductos: #464646;
  --color-bg-footer: #eaf2fd;
  --color-error: rgb(221, 81, 81);
  --color-enviado: rgb(57, 194, 57);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* Header style */

.buscador__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 115px;
}

.input__header {
  width: 393px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 16px;
  background-color: var(--color-bgInput);
  background-image: url(../img/lupa.png);
  background-position: calc(393px - 40px);
  background-repeat: no-repeat;
  outline: none;
}
.boton__login {
  width: 182px;
  height: 51px;
  border: 1px solid var(--color-bgBtn);
  background-color: #fff;
}
.boton__login a {
  color: var(--color-bgBtn);
  font-size: 1rem;
}

.lupa {
  display: none;
}

.bg__header {
  background-image: url(../img/Hero.png);
  height: 352px;
  display: flex;
  flex-direction: column;
  padding-left: 115px;
  padding-top: 150px;
  gap: 16px;
}
.title__header {
  color: #fff;
  font-weight: 700;
  font-size: 3.25rem;
}
.p__header {
  color: #fff;
  font-weight: 700;
  font-size: 1.375rem;
}
.boton__consolas {
  width: 129px;
  height: 51px;
  background-color: var(--color-bgBtn);
  border: none;
}
.boton__consolas a {
  color: #fff;
  font-size: 1rem;
}

/* Main style */

main {
  padding: 64px 115px;
}
.starWars,
.consolas,
.diversos {
  display: flex;
  flex-direction: column;
  width: 1136px;
  margin: 64px 0;
}
.title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title__starWars,
.title__consolas,
.title__diversos {
  font-size: 2rem;
  color: var(--color-titleProductos);
  font-weight: 700;
  margin-bottom: 12px;
}

.precio {
  font-weight: 700;
}

.imagenes__starWars,
.imagenes__consolas,
.imagenes__diversos {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
}
.box__starWars,
.box__consolas,
.box__diversos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Footer style */

.contacto {
  display: flex;
  gap: 112px;
  width: 100%;
  height: 368px;
  background-color: var(--color-bg-footer);
  padding: 64px 115px;
}
.logo__contacto {
  width: 176px;
  height: 50px;
}
.links > li {
  padding-bottom: 24px;
  color: var(--color-titleProductos);
  font-size: 1rem;
  font-weight: 500;
  width: 176px;
}
.links li a {
  color: var(--color-titleProductos);
  font-size: 1rem;
  font-weight: 500;
}
.formulario form {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 240px;
}
.form {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 8px;
}
form > input {
  height: 56px;
  margin-bottom: 16px;
  padding-left: 12px;
  border-radius: 4px;
}
form > textarea {
  height: 82px;
  margin-bottom: 8px;
  padding-left: 12px;
  padding-top: 12px;
  border-radius: 4px;
}
.boton__contacto {
  width: 144px;
  height: 51px;
  background-color: var(--color-bgBtn);
  border: none;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 12px;
}
.error {
  color: var(--color-error);
  margin-bottom: 12px;
  padding: 0 16px;
}
#enviado {
  color: var(--color-enviado);
  padding: 0 16px;
}

.rodapie {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
}
.rodapie img {
  width: 40px;
}
.rodapie img:hover {
  transform: scale(0.95);
}

/* Responsive design */
/* Tablet max-width 768px */

@media (max-width: 768px) {
  .buscador__header {
    margin: 16px;
  }

  .input__header {
    width: 272px;
    background-position: calc(272px - 40px);
  }
  .boton__login {
    width: 166px;
    height: 40px;
  }

  .bg__header {
    padding-left: 16px;
    padding-top: 161px;
  }

  .boton__consolas {
    width: 118px;
    height: 40px;
  }

  /* Main style */

  main {
    padding: 32px 16px;
  }
  .starWars,
  .consolas,
  .diversos {
    width: 740px;
  }
  .title__container {
    width: 704px;
  }
  .imagenes__starWars,
  .imagenes__consolas,
  .imagenes__diversos {
    gap: 6px;
  }

  .title__starWars,
  .title__consolas,
  .title__diversos {
    font-size: 1.375rem;
  }

  /* Footer style */

  .contacto {
    gap: 16px;
    padding: 32px 16px;
    position: relative;
  }
  .logo__contacto {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .links {
    padding-top: 66px;
    padding-bottom: 32px;
    margin-right: 90px;
  }

  .formulario form {
    width: 434px;
    height: 229px;
  }

  .boton__contacto {
    width: 133px;
    height: 40px;
  }
}

/* Responsive design */
/* Mobile max-width 360px */

@media (max-width: 360px) {
  .buscador__header {
    justify-content: space-between;
  }
  .lupa {
    display: flex;
  }

  .input__header {
    display: none;
  }
  .logo__header {
    width: 100px;
  }
  .boton__login {
    width: 133px;
  }

  .bg__header {
    padding-top: 48px;
    height: 192px;
  }
  .title__header {
    font-size: 1.375rem;
  }
  .p__header {
    font-size: 1rem;
  }
  .boton__consolas {
    width: 118px;
    height: 40px;
  }

  /* Main style */

  main {
    padding: 16px;
  }
  .starWars,
  .consolas,
  .diversos {
    width: 368px;
  }
  .title__container {
    width: 328px;
  }
  .imagenes__starWars,
  .imagenes__consolas,
  .imagenes__diversos {
    flex-wrap: wrap;
    gap: 6px;
  }
  .box__producto .foto {
    width: 140px;
    height: 174px;
  }

  .title__starWars,
  .title__consolas,
  .title__diversos {
    font-size: 1.375rem;
  }

  /* Footer style */

  .contacto {
    flex-direction: column;
    height: 590px;
    align-items: center;
    padding: 16px;
  }
  .logo__contacto {
    position: static;
  }

  .links {
    padding-top: 66px;
    padding: 0 16px;
    margin: 0;
    text-align: center;
  }
  .links > li {
    padding-bottom: 16px;
  }

  .formulario form {
    width: 328px;
    height: 229px;
    padding: 8px 0;
  }

  .boton__contacto {
    width: 133px;
    height: 40px;
  }
}
